.search-bar {
  background-color: #3f51b5; /* Blue background */
  padding: 6px;
  display: flex;
  justify-content: center;
  position: relative;
}

/*.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}*/

.search-input {
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 300px;
  height: 21px;
}

.search-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  position: absolute;
  color: black;
  background-color: white;
  border-radius: 0%;
  left: 568px;
  height: 41px;
}

.search-input::placeholder {
  text-align: left;
}
